{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block content %}
    <div class="party-detail">
        <h2>{{ object.name }}</h2>
        <p>{{ object.formatted_description|safe }}</p>
    </div>
    <hr>
    <h4>Members ({{ object.partymember_set.count }})</h4>
    {% for member in party.partymember_set.all %}
        <p>
            {{ member.character_name }} - ({{ member.user.username }})
            {% if user == party.dm %}
                <a class="btn btn-danger btn-sm"
                   href="{% url "member_remove" member.pk %}"
                   role="button">Remove</a>
            {% endif %}
        </p>
    {% endfor %}
    {% if party.dm == request.user %}
        <h4>Add a party member</h4>
        <form action="" method="post">
            {% csrf_token %}
            {{ form|crispy }}
            <button class="btn btn-success ml-2" type="submit">Save</button>
        </form>
        <hr>
        <div>
            <p>
                <a class="btn btn-primary btn-lg"
                   href="{% url 'party_edit' party.pk %}"
                   role="button">Edit</a>
                <a class="btn btn-danger btn-lg"
                   href="{% url 'party_delete' party.pk %}"
                   role="button">Delete</a>
            </p>
        </div>
    {% endif %}
    <hr>
{% endblock content %}
