{% extends "base.html" %}
{% block content %}
    <div class="party-detail">
        <h2>{{ object.name }}</h2>
        <p>{{ object.description }}</p>
    </div>
    <hr>
    <h4>Members ({{ object.partymember_set.count }})</h4>
    {% for member in party.partymember_set.all %}
        <p>{{ member.character_name }} - ({{ member.user.username }})</p>
    {% endfor %}
    {% if party.dm == request.user %}
        <div>
            <p>
                <a class="btn btn-primary btn-lg"
                   href="{% url 'party_edit' party.pk %}"
                   role="button">Edit</a>
                <a class="btn btn-danger btn-lg"
                   href="{% url 'party_delete' party.pk %}"
                   role="button">Delete</a>
            </p>
        </div>
    {% endif %}
    <hr>
{% endblock content %}
