<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="keywords" content="ttrpgs">
        <meta name="description" content="homepage">
        <title>
            {% block title %}
                norns
            {% endblock title %}
        </title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        {% load bootstrap5 %}
        {% bootstrap_css %}
        {% bootstrap_javascript %}
    </head>
    <body>
        <header class="mb-3 border-bottom">
            <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
                <div class="container">
                    <a class="navbar-brand" href="{% url 'home' %}">norns</a>
                    {% if user.is_authenticated %}
                        <div class="collapse navbar-collapse" id="navbarSupportedContent">
                            {% include "navbar-user.html" %}
                        {% else %}
                            <!-- if user logged out -->
                            {% include "navbar-nonuser.html" %}
                        </div>
                    {% endif %}
                </div>
            </nav>
        </header>
        <main>
            <div class="container">
                {% block content %}
                {% endblock content %}
            </div>
        </main>
    </body>
</html>
